<div class="container mt-3">
<app-count-empleados [todos]="obtenerTotalEmpleados()" [masculino]="obtenerTotalMasculino()" [femenino]="obtenerTotalFemenino()"(countRadiobuttonChange)="empleadoCountRadioButton($event)"></app-count-empleados>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table  table-responsive table-responsive">
                <caption>List of users</caption>
                <thead>
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let empleado of empleado">
                        <tr
                            *ngIf="radiobuttonSeleccionado == 'Todos' || radiobuttonSeleccionado == empleado.sexo ">
                            <th>{{empleado.legajo}}</th>
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.apellido}}</td>
                            <td>{{empleado.sexo}}</td>
                            <td>{{empleado.salario | currency}}</td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>